body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: rgb(206, 210, 241);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form select:focus {
    outline: none;
    border-color: rgb(206, 210, 241);
    box-shadow: 0px 0px 4px rgba(90, 75, 235, 0.3);
}

button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(206, 210, 241);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgb(206, 210, 241);
}